<div class="loginColumns animated fadeInDown">
  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold">Bienvenido a {{env.nombreapp}} </h2>

      <p>
        La confianza no se da. Se gana.
      </p>

      <p>
        Desarrollamos {{env.nombreapp}} con una misi&oacute;n: T&uacute; eres lo primero.
      </p>

      <p>
        Lo hacemos para que t&uacute; tengas el control.
      </p>

      <p>
        <!--<small>Lo hacemos porque nos gusta. Y lo hacemos porque nadie m&aacute;s lo va hacer.</small>-->
        Lo hacemos porque nos gusta. Y lo hacemos porque nadie m&aacute;s lo va hacer.
      </p>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <form class="m-t" role="form" (ngSubmit)="onSubmit()">
          <div class="form-group" [ngClass]="{'has-error':companiaElegida.COMPANIA==='' && compania!='' }">
            <input type="text" [(ngModel)] = "compania" name = "compania" (ngModelChange)="getCompania($event)" class="form-control" placeholder="Organizaci&oacute;n" required="">
            <span class="help-block m-b-none"> {{companiaElegida.RAZONSOCIAL}} </span>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)] = "usuario" name = "usuario" class="form-control" placeholder="Usuario" required="">
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)] = "clave" name = "clave" class="form-control" placeholder="Contrase&ntilde;a" required="">
          </div>
          <button type="submit" [ngClass]="{'disabled':companiaElegida.COMPANIA === '' || usuario === '' || clave ===''}" class="btn btn-primary block full-width m-b">Ingresar</button>

          <!--<a href="#"><small>Forgot password?</small></a>-->

          <!--<p class="text-muted text-center">-->
          <!--<small>Do not have an account?</small>-->
          <!--</p>-->
          <!--<a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>-->
        </form>
        <p class="m-t">
          <small>{{env.nombreapp}} basado en Angular 4 y Bootstrap 3 &copy; {{env.vigencialicencia}}</small>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      Copyright {{env.nombrecompany}}
    </div>
    <div class="col-md-6 text-right">
      <small>© {{env.vigencialicencia}}</small>
    </div>
  </div>
</div>
